*{
	margin: 0;
	padding: 0;
}


body{


	font-size: 90px;

	background-size: cover;
}

h1{
	text-align: center;   
	font-family: 'Fredoka One', cursive;
	font-size: 1em;
	color:green;
}
img{
	opacity: .3;
}